.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-header h1 {
  font: 400 100px/1.2 'Yeseva One', Helvetica, sans-serif;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.2), 4px 4px 8px rgba(0,0,0,0.2);
}

.App-header p {
  font: 400 20px/2.5 'Roboto', sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.Subheading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #282c34;
  font: 900 35px/2.5 'Roboto', sans-serif;
  border-bottom: 5px solid black;
  padding-bottom: 20px;
  width: 18vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
}

/* About Me */
.Aboutme {
  max-width: 800px;
  min-height: 30vh;
  margin: auto;
  align-items: center;
  display: flex;
  padding: 0rem 4rem;
  /* border: 2px solid pink; */
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-align: justify;
  overflow: hidden;
}

.Aboutme img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  vertical-align: center;
  margin-right: 6%;
  float: left;
  border: 2px solid black; 
}
.Aboutme p {
  font: 400 15px/1.5 'Roboto', sans-serif;
  display: block;
}
/* Experience */
.Experience {
  max-width: 800px;
  min-height: 60vh;
  margin: auto;
  margin-top: 10vh;
  text-overflow: ellipsis;
  text-transform: uppercase;
  /* border: 3px solid green; */
}
.Experience-description {
  font: 400 15px/1.5 'Roboto', sans-serif;
  text-align: justify;
  text-transform: none;
  margin-top: 1.5vh;
}

/* Education */
.Education{
  max-width: 800px;
  min-height: 60vh;
  margin: auto;
  margin-top: 10vh;
  text-overflow: ellipsis;
  text-transform: uppercase;
  /* border: 3px solid green; */
}
.Entry{
  text-align: center;
  margin-bottom: 2.5rem;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}
.School {
  font: 700 25px 'Roboto', sans-serif;
}
.Degree {
  font: 500 20px 'Roboto', sans-serif;
}
.Degree-content {
  font: 400 15px/2.5 'Roboto', sans-serif;
  text-transform: none;
  margin-top: 1.5vh; 
}

/* Contact */
.Contact {
  max-width: 800px;
  min-height: 70vh;
  margin: auto;
  margin-top: 10vh;
  text-overflow: ellipsis;
  /* border: 3px solid green; */
  text-align: center;
}
.CV-download .btn {
  background-color: #495057;
  color: #fff;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2.5rem;
}
.CV-download .btn:hover {
  background-color: RoyalBlue;
}
.Social-icons .btn-social-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.Social-icons .btn-social-icon:last-child {
  margin-right: 0;
}
.Social-icons .btn-social-icon:hover {
  background-color: dodgerblue;
}








